body {
	background-color: #303030;
}
h3 {
	text-shadow: red 1px 0px;
}
h5 {
	color: white;
}

a {
	color: white;
}

.nav-pills>li.active>a {
	background-color: #80bd01 !important;
}

.nav a {
	color: white !important;
}

.view {
	margin-bottom: 40px;
}

a:hover {
	color: red;
}

.thumbnail {
	height: 360px;
}

.thumbnail img {
	width: auto;
	max-width: 150px;
	height: 160px;
	box-shadow: 5px 2px 3px;
}

.container {
	margin-top: 40px;
}

.orderBy {
	display: block;
}

.orderBy *{
	display: inline-block;
}

.nav-pills {
	display: inline-block;
	margin-top: 40px;
}

/*   Node CSS  */
#node {
	background-color: #303030;
}

#node h1 {
	color: #80bd01;
	text-shadow: black -2px 2px;
}

#node p {
	text-indent: 50px;
	font-size: 1.5em;
	color: white;
	z-index: 3;
	text-shadow: black -2px 2px;
}

.node-background img {
	opacity: 0.3;
	z-index: 0;
}

.node-background {
	display: table;
	position: absolute;
}

.imageOverlay {
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.5;
}

.thumbOverlay {
	position: absolute;
	width: 100%;
	height: 100%;
}

#reflection p {
	text-indent: 50px;
	font-size: 1.5em;
	color: white;
	z-index: 3;
	text-shadow: black -2px 2px;
}

#reflection h3, #reflection h1 {
	color: white;
}