<div id="node">
	<div class="node-background">
		<div class="imageOverlay">
			<img class="img-responsive" src="img/node.jpg">
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2">
				<h1 class="text-center">Does NodeJs Live Up To The Hype?</h1>
				<div>
					<h3></h3>
					<p>Throughout this blog post, I will be analyzing this statement to allow you to understand what exactly NodeJs is, and what makes NodeJs so great.</p>
					<p>According to Nodejs.org, node is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices. </p>
					<p>One of the greatest features of NodeJS is the non-blocking I/O model. NodeJs uses an asynchronous architecture and callbacks to allow the program to execute other tasks while it waits for the completion of another task. This prevents blocking because now tasks can be completed concurrently, instead of sequentially. In other languages, such as PHP, tasks are completed in a line and wait for the first task to finish before going on to the next task.</p>
					<p>Another great feature of NodeJS is that it uses the programming language Javascript on the server-side. This is different from any other server-side language, because this is the first time Javascript has been introduced server-side. There are several benefits to using Javascript server-side and one is the ability for a front-end developer to use their knowledge of Jacascript on the server. </p>
					<p>One misconception of NodeJs is that it is Javascript. NodeJs itself is actually a C program, that is used for running Javacript. Some think that using Javascript server-side is not ideal, but Javascript is more accessible to learn than C for most, and it is perfectly capable of sending instructions to a C program that can carry out the grunt work and heavy lifting.</p>
					<p>NodeJs has recently become part of the MEAN stack, which consists of MongoDb, Express, Angular, and NodeJs. Using this stack allows the developer to use JavaScript from the front-end all the way to the server-side. This is an interesting stack that allows you to create lightweight and fast web applications. As a fellow developer, I highly recommend starting out with MEAN.js. Mean.js is a framework for the MEAN stack which incorporates all the grunt work needed to link all of the frameworks together. Don't make the same mistake I did by starting from scratch!</p>
				</div>
			</div>
		</div>
	</div>
</div>