<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div id="node">
				<h1 class="text-center">Does NodeJs Live Up To The Hype?</h1>
				<div>
					<h3></h3>
					<p>According to Nodejs.org, node is a platform built on Chrome's JavaScript runtime for easily building fast, scalable network applications. Node.js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient, perfect for data-intensive real-time applications that run across distributed devices. </p>
					<p>Throughout this blog post, I will be analyzing this statement to allow you to understand what exactly NodeJs is, and what makes NodeJs so great</p>
				</div>	
			</div>
		</div>
	</div>
</div>